@media screen and (max-width: 900px) {
    .container .info .text {
        padding: 0;
    }
}

@media screen and (max-width: 568px) {
    .container {
        flex-direction: column;
        padding: 20px 0;
        /* height: 100%; */
    }

    .container .info,
    .container .contact {
        width: 80%;
    }

}